.gallery1 {
    background-color: #111;
  h2 {
    color: #eee;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
  }
  .gallery1-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .gallery1-items {
        width: 300px;
        margin-bottom: 50px;
        border: 1px solid #eee;
        position: relative;
        box-shadow: 2px 8px 10px 0 rgba(221, 221, 221, 0.527);
      img {
        width: 100%;
      }
      p{
        position: absolute;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        font-size: 18px;
        bottom: 10px;
        left: 10px;
        padding: 5px 10px;
        background-color: #eee;
        color: crimson;
        border: 1px solid crimson;
        border-radius: 6px;
      }
    }
    .gallery1-items:hover{
        cursor: pointer;
        box-shadow: 0 0 10px 0 #ddd;
        transition: all 0.5s ease;
        p{
            transition: all 0.5s ease;
            transform: scale(1.1);
        }
    }
  }
}
