@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lavishly+Yours&family=Sacramento&family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

section .section-title {
  font-family: "Sacramento", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #777;
}

section .section-title span {
  font-family: "Sacramento", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: crimson;
}

section .section-title::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 4px;
  top: 155px;
  left: 9%;
  border-radius: 6px;
  background-color: crimson;
}

section .section-title::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  top: 170px;
  left: 9%;
  border-radius: 6px;
  background-color: crimson;
}

.footer {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.footer .footer-title {
  color: #eddfb3;
  font-family: "Wallpoet", sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
}

.footer .footer-title::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  bottom: -20px;
  left: 30%;
  background-color: #eddfb3;
}

.footer .footer-title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  bottom: -30px;
  left: 40%;
  background-color: #eddfb3;
}

.footer p {
  margin-top: 10px;
  color: #eddfb3;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
}

.navbar .container .navbar-brand {
  color: #EDDFB3;
  font-family: 'Wallpoet', sans-serif;
  font-weight: 400;
  font-size: 45px;
  text-transform: uppercase;
}

.navbar .container .navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .container .navbar-nav .nav-item {
  margin-left: 10px;
}

.navbar .container .navbar-nav .nav-item .nav-link {
  color: #EDDFB3;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
}

.navbar .container .navbar-nav .nav-item .nav-link:hover {
  color: crimson;
  border-bottom: 1px solid crimson;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: -11;
}

.banner .carousel-inner .carousel-item img {
  height: 100vh;
}

.banner .carousel-inner .carousel-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
}

.home .heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.home .heading h1 {
  font-size: 80px;
  font-family: "Great Vibes";
  font-weight: 400;
  color: #eee;
}

.home .heading h1 span {
  font-family: "Great Vibes", Arial, Helvetica, sans-serif;
  font-size: 170px;
  color: crimson;
}

.home .heading .head-title::before {
  position: absolute;
  content: "";
  width: 130px;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 7px;
  background-color: crimson;
}

.home .heading .head-title::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 4px;
  bottom: -20px;
  left: 0;
  border-radius: 7px;
  background-color: crimson;
}

.home .wc-section .wc-text-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 50px;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.1;
}

.home .wc-section .wc-text-2 {
  color: #555;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
}

.home .wc-section .wc-img4 {
  overflow: hidden;
}

.home .wc-section .wc-img4 img {
  height: 600px;
}

.home .wc-section .wc-contact {
  margin-top: 60px;
}

.home .wc-section .wc-contact h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
}

.home .wc-section .wc-contact .wc-p {
  background: #000;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1;
}

.home .wc-section .wc-contact .wc-p p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #eddfb3;
}

.about img {
  width: 100%;
}

.about .section-title {
  text-align: center;
}

.about .section-title::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 4px;
  top: 160px;
  left: 46%;
  border-radius: 6px;
  background-color: #aaa;
}

.about .section-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 4px;
  top: 175px;
  left: 48%;
  border-radius: 6px;
  background-color: #aaa;
}

.about .aboutIntro-section .about-intro {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 70px;
}

.about .aboutIntro-section .about-intro .about-intro-text1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.1;
}

.about .aboutIntro-section .about-intro .about-intro-text2 {
  color: #777;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
}

.about .aboutIntro-section .vision-mission {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.about .aboutIntro-section .vision-mission .vm-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #777;
  margin-bottom: 50px;
}

.about .aboutIntro-section .vision-mission .col {
  border-right: 2px solid #fff;
  border-radius: 5px;
  background-color: #ddd;
  padding: 30px;
}

.about .aboutIntro-section .vision-mission .col h2 {
  font-family: 'Wallpoet',sans-serif;
  margin-bottom: 20px;
}

.about .aboutIntro-section .vision-mission .col p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.about .aboutIntro-section .vision-mission .our-mission h2 {
  color: crimson;
}

.about .aboutIntro-section .vision-mission .our-mission p {
  color: cadetblue;
  padding-bottom: 25px;
}

.about .aboutIntro-section .vision-mission .our-vision h2 {
  color: crimson;
}

.about .aboutIntro-section .vision-mission .our-vision p {
  color: cadetblue;
}

.about .review .carousel .carousel-inner .carousel-item div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  text-align: center;
  font-family: "Tangerine", sans-serif;
}

.about .review .carousel .carousel-inner .carousel-item div p {
  margin-bottom: 20px;
  font-size: 30px;
}

.about .review .carousel .carousel-inner .carousel-item div h3 {
  font-weight: bold;
  color: crimson;
}

.menu img {
  width: 100%;
}

.menu .section-title {
  text-align: center;
}

.menu .section-title::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 2px;
  top: 160px;
  left: 46%;
  border-radius: 6px;
  background-color: cadetblue;
}

.menu .section-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  top: 175px;
  left: 48%;
  border-radius: 6px;
  background-color: cadetblue;
}

.menu .menu1 {
  background-color: #eee;
}

.menu .menu1 .menu-title {
  font-family: "Sacramento", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.1;
}

.menu .menu1 .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu .menu1 .menu-nav .menu-list {
  list-style: none;
}

.menu .menu1 .menu-nav .menu-list .menu-item {
  text-decoration: none;
  border: 2px solid cadetblue;
  border-radius: 7px;
  background: cadetblue;
  color: #fff;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu .menu1 .menu-nav .menu-list .menu-item:hover {
  cursor: pointer;
  background: none;
  color: cadetblue;
}

.menu .menu1 .menu-item .card-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.menu .menu1 .menu-item .card-menu img {
  width: 150px;
  height: 100%;
}

.menu .menu1 .menu-item .card-menu .card-body .card-title {
  color: cadetblue;
  font-size: 30px;
  font-family: "Roboto Condensed";
  font-weight: 400;
}

.menu .menu1 .menu-item .card-menu .card-body .card-text {
  font-size: 16px;
  color: #777;
}

.menu .menu1 .menu-item .card-menu .card-price {
  font-family: "Tangerine", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: cadetblue;
}

.menu .event1 .event1-text1 {
  font-family: "Roboto Condensed", sans-serif;
}

.menu .event1 .row .col .event1-firstcol {
  background-color: cadetblue;
}

.menu .event1 .row .col .padd {
  padding-top: 30px;
}

.menu .event1 .row .col .padd p {
  color: cadetblue;
}

.menu .event1 .row .col h4 {
  color: cadetblue;
}

.menu .review {
  background-color: #ddd;
}

.menu .review .review-title {
  font-family: "Ubuntu", sans-serif;
}

.menu .review .carousel .carousel-inner .carousel-item div {
  font-family: 'Great Vibes', sans-serif;
}

.menu .review .carousel .carousel-inner .carousel-item div p {
  font-size: 20px;
  margin-bottom: 20px;
}

.menu .review .carousel .carousel-inner .carousel-item div h3 {
  font-family: 'Ubuntu';
  color: cadetblue;
}

.services {
  background-color: #F0EBE3;
}

.services p {
  color: #7D9D9C;
  font-family: 'Ubuntu';
  font-size: 20px;
  text-align: justify;
}

.services .service-content {
  margin-bottom: 70px;
}

.services .service-content .service-title {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
  color: #576F72;
}

.services .service-packages h2 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
  color: #576F72;
}

.services .service-packages .card {
  color: #576F72;
}

.services .service-packages .card h4 {
  color: #E4DCCF;
}

.services .service-packages .card .card-body p {
  font-size: 18px;
}

.services .service-packages .card .card-body h4 {
  color: #576F72;
  margin-bottom: 20px;
}

.services .service-packages .card .card-body li {
  color: #576F72;
  font-size: 17px;
}

.services .service-packages .card .card-body .btn {
  color: #F0EBE3;
  background: #576F72;
  border: 2px solid #576F72;
}

.services .service-packages .card .card-body .btn:hover {
  background: none;
  color: #576F72;
}

.contacts {
  background-color: #212121;
}

.contacts .section-title {
  color: #6d9886;
}

.contacts .first {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ddd;
}

.contacts .first h3 {
  font-weight: 600;
  font-size: 40px;
  color: #6d9886;
  margin-bottom: 20px;
}

.contacts .first p {
  color: #d9cab3;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.contacts .first form {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.contacts .first form input,
.contacts .first form textarea {
  background-color: #f6f6f6;
}

.contacts .first form .form-control::-webkit-input-placeholder {
  color: #6d9886;
}

.contacts .first form .form-control:-ms-input-placeholder {
  color: #6d9886;
}

.contacts .first form .form-control::-ms-input-placeholder {
  color: #6d9886;
}

.contacts .first form .form-control::placeholder {
  color: #6d9886;
}

.contacts .first form .btn {
  background: #6d9886;
  border: 2px solid #6d9886;
  border-radius: 7px;
  color: #f6f6f6;
  padding: 10px 15px;
  font-size: 18px;
}

.contacts .first form .btn:hover {
  background: none;
  border: 2px solid #6d9886;
  color: #6d9886;
}

.contacts .second {
  background-color: #f6f6f6;
  border-radius: 8px;
  color: #6d9886;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.contacts .second span {
  font-family: "Tangerine", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.contacts .second .location h3 {
  font-family: "Great Vibes", sans-serif;
  font-weight: 700;
  font-size: 30px;
  position: relative;
}

.contacts .second .location h3::before {
  position: absolute;
  content: "";
  width: 130px;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #333;
}

.contacts .second .location p {
  font-size: 20px;
}

.contacts .second .phone-num p {
  font-weight: 600;
  font-size: 20px;
}

.contacts .second .email p {
  font-weight: 600;
  font-size: 20px;
}

.contacts .second .email p span {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
}

.contacts .review,
.contacts .clients {
  background-color: #f6f6f6;
}

.contacts .review .review-title {
  color: #d9cab3;
}

.contacts .review .carousel-item p {
  color: #212121;
}

.contacts .review .carousel-item h3 {
  color: #6d9886;
}

.order {
  background-color: #F6FBF4;
}

.order h2 {
  margin-bottom: 50px;
}

.order p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.order .first-text {
  font-size: 25px;
  color: #888;
}

.order .second-text {
  color: #666;
  position: relative;
}

.order .second-text::before {
  position: absolute;
  content: '';
  width: 400px;
  height: 2px;
  bottom: -5px;
  left: 32%;
  background-color: crimson;
}

.order form {
  padding: 20px;
}

.order form input,
.order form textarea,
.order form select {
  background: #F6FBF4;
  border: 1px solid #777;
}

.menu1 {
  background-color: #dddddd;
}

.menu1 .menu-title {
  font-family: "Great Vibes", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.1;
}

.menu1 .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu1 .menu-nav .menu-list {
  list-style: none;
}

.menu1 .menu-nav .menu-list .menu-item {
  text-decoration: none;
  border: 2px solid crimson;
  border-radius: 7px;
  background: crimson;
  color: #fff;
  font-family: "Sacramento", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu1 .menu-nav .menu-list .menu-item:hover {
  cursor: pointer;
  background: none;
  color: crimson;
}

.menu1 .menu-item .card-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.menu1 .menu-item .card-menu img {
  width: 150px;
  height: 100%;
}

.menu1 .menu-item .card-menu .card-body .card-title {
  color: crimson;
  font-size: 30px;
  font-family: "Great Vibes";
  font-weight: 700;
}

.menu1 .menu-item .card-menu .card-body .card-text {
  font-size: 16px;
  color: #777;
}

.menu1 .menu-item .card-menu .card-price {
  font-family: "Tangerine", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.clients .section-title {
  margin-bottom: 100px;
}

.clients div .client-img {
  margin-right: 60px;
}

.clients div .client-img img {
  width: 100%;
}

.event1 .event1-text1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.event1 .row {
  padding: none;
  text-align: center;
  margin-bottom: 20px;
  background-color: #eee;
}

.event1 .row .col {
  padding-left: 0;
  padding-right: 0;
  border-right: 2px solid #fff;
}

.event1 .row .col .event1-firstcol {
  padding: 20px;
  background-color: #222;
  color: beige;
  text-align: center;
}

.event1 .row .col .event1-firstcol h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
}

.event1 .row .col .event1-firstcol h3 span {
  font-family: "Tangerine", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.event1 .row .col .event1-firstcol .event1-year {
  font-family: "Tangerine", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.event1 .row .col .padd {
  padding-top: 30px;
}

.event1 .row .col .padd p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #777;
}

.event1 .row .col .padd p span {
  font-family: "Tangerine", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.event1 .row .col h4 {
  padding-top: 70px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
}

.gallery {
  background-color: #2c3333;
  color: #eeedde;
}

.gallery .section-title {
  color: #d8e9a8;
}

.gallery h3 {
  color: #eeedde;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.gallery .gallery-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .gallery-slider .gallery-items {
  width: 250px;
  margin-bottom: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.gallery .gallery-slider .gallery-items img {
  width: 100%;
}

.gallery .gallery-slider .gallery-items:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 0 #ddd;
          box-shadow: 0 0 10px 0 #ddd;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery .review,
.gallery .clients {
  background-color: #2c3333;
  color: #d8e9a8;
}

.gallery1 {
  background-color: #111;
}

.gallery1 h2 {
  color: #eee;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.gallery1 .gallery1-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gallery1 .gallery1-slider .gallery1-items {
  width: 300px;
  margin-bottom: 50px;
  border: 1px solid #eee;
  position: relative;
  -webkit-box-shadow: 2px 8px 10px 0 rgba(221, 221, 221, 0.527);
          box-shadow: 2px 8px 10px 0 rgba(221, 221, 221, 0.527);
}

.gallery1 .gallery1-slider .gallery1-items img {
  width: 100%;
}

.gallery1 .gallery1-slider .gallery1-items p {
  position: absolute;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: #eee;
  color: crimson;
  border: 1px solid crimson;
  border-radius: 6px;
}

.gallery1 .gallery1-slider .gallery1-items:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 0 #ddd;
          box-shadow: 0 0 10px 0 #ddd;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery1 .gallery1-slider .gallery1-items:hover p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.review {
  background-color: #ddd;
}

.review .review-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.review .carousel .carousel-inner .carousel-item div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  text-align: center;
  font-family: 'Wallpoet', sans-serif;
}

.review .carousel .carousel-inner .carousel-item div p {
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */